@model List<ModelsServicesInterfaces.ListBook>

<div class="col pt-3 leftMenu">
    @if (Model != null)
    {
        <div class="row mb-2">
            <label class="m-auto fit-content" style="font-size: 1.2rem;">Favoritos</label>
        </div>
        <div>
            <div class="accordion mx-2" id="FavoritesBooksPanel">
                @foreach (var CurrentFavorite in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Favorites">
                            <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="@("#Favorites" + CurrentFavorite.GenderType)Body" aria-expanded="false">
                                @Html.Raw(CurrentFavorite.Gender)
                            </button>
                        </h2>
                        <div id="@("Favorites" + CurrentFavorite.GenderType)Body" class="accordion-collapse collapse" aria-labelledby="@("Favorites" + CurrentFavorite.GenderType)">
                            <div class="accordion-body p-0 justify-content-end">
                                @{
                                    bool first = true;
                                }
                                @foreach (var CurrentBook in CurrentFavorite.Books)
                                {
                                    @if (first)
                                    {
                                        first = false;
                                    }
                                    else
                                    {
                                        <hr class="my-1" />
                                    }
                                    <div class="book-item-list mx-3">
                                        <a href="/Books/Details/@CurrentBook.Code">@CurrentBook.Name</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p class="alert alert-danger p-2">
            <label class="m-auto fit-content" style="text-align: center;">
                Não há nenhum livro favoritado
            </label>
        </p>
    }
</div>